@tailwind base;
@tailwind components;
@tailwind utilities;

svg{
    width: 35px;
    height: 35px;
    margin: 20px;
    display:inline-block;
  }

  .add-product-section{
    background-color:whitesmoke;
  }